/* === Base Styles === */
.page {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffdf7b;
}

body {
  font: 16px/26px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #454545;
  margin: 0px;
  padding: 0px;
}

header {
  padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

blockquote {
  font: 1.4em/1em 'Gloria Hallelujah', cursive;
}

blockquote:before { content: '"'; }
blockquote:after { content: '"'; }

#headshot {
  margin: 0 auto;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}

#bio {
  padding: 1em;
  text-align: left;
  border-top: 1px solid #454545;
}

#contact {
  padding: 1em;
  text-align: left;
  border-top: 1px solid #454545;
}

#social-icons { text-align: center; }

/* === Modal === */
#modal-show {
	background: purple;
	border-radius: 5px;
	border: 4px outset purple;
	color: white;
	font-size: 2em;
	margin: 0.5em;
}

#modal-container {
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
}

#modal-box {
	background-color: #fff;
	border-radius: 5px;
	border: 5px solid #454545;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 480px;
	height: 150px;
	padding: 20px 0;
}

#modal-hide {
	background: white;
	border-radius: 15px;
	color: #454545;
	display: block;
	float: right;
	font-family: monospace;
	font-size: 20px;
	margin-right: -17px;
	position: relative;
	top: -18px;
	width: 30px;
}